table {
    border: medium solid #000000;
    width: 11 ;
        margin-left:auto;
        margin-right:auto;
     }


@font-face {
font-family: 'Play';
src: url('Play/Play-Bold.ttf') format('truetype');
}

body {
font-family: 'Play';
    
color:rgb(255, 255, 255);
text-align: center;

background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4c4f2491-e7ef-41b6-b19e-a7a9ae8a5de9/dewubga-538796f1-ef2d-4319-b59d-ef4f519d63ed.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRjNGYyNDkxLWU3ZWYtNDFiNi1iMTllLWE3YTlhZThhNWRlOVwvZGV3dWJnYS01Mzg3OTZmMS1lZjJkLTQzMTktYjU5ZC1lZjRmNTE5ZDYzZWQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.yxWCtHsqPg5MYv-EOrl5W8VhhmvX6bn4x7Ze6rvm5Vc), url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4c4f2491-e7ef-41b6-b19e-a7a9ae8a5de9/dewubga-538796f1-ef2d-4319-b59d-ef4f519d63ed.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRjNGYyNDkxLWU3ZWYtNDFiNi1iMTllLWE3YTlhZThhNWRlOVwvZGV3dWJnYS01Mzg3OTZmMS1lZjJkLTQzMTktYjU5ZC1lZjRmNTE5ZDYzZWQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.yxWCtHsqPg5MYv-EOrl5W8VhhmvX6bn4x7Ze6rvm5Vc), url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4c4f2491-e7ef-41b6-b19e-a7a9ae8a5de9/dewubga-538796f1-ef2d-4319-b59d-ef4f519d63ed.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRjNGYyNDkxLWU3ZWYtNDFiNi1iMTllLWE3YTlhZThhNWRlOVwvZGV3dWJnYS01Mzg3OTZmMS1lZjJkLTQzMTktYjU5ZC1lZjRmNTE5ZDYzZWQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.yxWCtHsqPg5MYv-EOrl5W8VhhmvX6bn4x7Ze6rvm5Vc), url(https://www.famitsu.com/images/000/156/266/y_5adec823befcf.jpg);
background-size: 500px 400px, 500px 400px, 500px 400px, 1950px 1350px;
background-repeat: no-repeat;
background-position: right 430px, center 430px,left 430px, center;
}



input{
    background-color: #4fff9856;
    border: none;
    color: rgb(253, 253, 253);
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;

}
input:hover {
    color:rgb(0, 0, 0)
}
.entreD{
    position: relative;
    right: 750px;
    top: 90px;
}

.entreG{
    position: relative;
    left: 750px;
    bottom: 90px;
}

.entreM{
    position: relative;
    left: 0px;
    right:0px;
    top:0px;
    bottom: 0px;
}

.autre{
    position: relative;
    left: 150px;
    top:325px;
}

audio{
    position: relative;
    left: -1050px;
    top: 350px;
}
  
        
        
   
