table {
    border: medium solid #000000;
    width: 11 ;
        margin-left:auto;
        margin-right:auto;
     }


@font-face {
font-family: 'Play';
src: url('Play/Play-Bold.ttf') format('truetype');
}

body {
font-family: 'Play';
    
color:rgb(255, 255, 255);
text-align: center;

background-image: url(https://www.famitsu.com/images/000/156/266/y_5adec823befcf.jpg), url(https://i.pinimg.com/736x/5b/5a/b8/5b5ab830a292999ec617b337ec7e3aaf.jpg);
background-size: 750px 400px, 1950px 1450px;
background-repeat: no-repeat;
background-position: center 500px, center;
}



input{
    background-color: #4fff9856;
    border: none;
    color: rgb(253, 253, 253);
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;

}
input:hover {
    color:rgb(0, 0, 0)
}
.entreG{
    position: relative;
    
    right:-150px;
    top:-25px;
    bottom: 0px;
}

.entreD{
    position: relative;
    left: 0px;
    bottom: 0px;
}

audio{
    position: relative;
    left: -950px;
    top: 450px;
}
  
  
        
        
   
